# Importing Pandas Library for Data Cleaning and preprocessing

In [1]:
# import the pandas library
import pandas as pd

In [2]:
# read in the csv file as a pandas dataframe
bikes = pd.read_csv("C:\\Users\\ishita mishra\\Desktop\\London_Bike_Data\\london_merged.csv")

In [3]:
# Exploration of Data 
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [4]:
bikes.shape

(17414, 10)

In [5]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [6]:
# Count the unique value of 'weather_code' column
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [7]:
# Count the unique value of 'season'column
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [8]:
# specifying the column names that I want to use
new_cols_dict ={
    'timestamp':'time',
    'cnt':'count', 
    't1':'temp_real_in_C',
    't2':'temp_feels_like_in_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

# Renaming the column names
bikes.rename(new_cols_dict, axis = 1, inplace = True)

In [9]:
bikes

,time,count,temp_real_in_C,temp_feels_like_in_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [10]:
# bikes.humidity_percent = bikes.humidity_percent / 100
bikes

,time,count,temp_real_in_C,temp_feels_like_in_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [11]:
# Changing the values of season column with their respective values
season_dict = {
    '0.0': "Spring",
    '1.0': "Summer",
    '2.0': "Fall",
    '3.0': "Winter"
}

# Changing the values of season column with their respective values
weather_dict = {
    '1.0': "Clear",
    '2.0': "Scattered clouds" ,
    '3.0': "Broken clouds ",
    '4.0': "Cloudy ",
    '7.0': "Rain",
    '10.0': "Rain with thunderstorm ",
    '26.0': "Snowfall "
}

In [12]:
# changing the seasons column data type to string
bikes.season = bikes.season.astype(str)

bikes.season = bikes.season.map(season_dict)

# changing the Weather column data type to string
bikes.weather = bikes.weather.astype(str)

bikes.weather = bikes.weather.map(weather_dict)

In [14]:
bikes.head()

,time,count,temp_real_in_C,temp_feels_like_in_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,Broken clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,Clear,0.0,1.0,Winter

In [15]:
bikes.tail()

,time,count,temp_real_in_C,temp_feels_like_in_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,Broken clouds,0.0,0.0,Winter
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,Cloudy,0.0,0.0,Winter
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,Cloudy,0.0,0.0,Winter
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,Cloudy,0.0,0.0,Winter
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,Scattered clouds,0.0,0.0,Winter

In [18]:
pip install openpyxl

Note: you may need to restart the kernel to use updated packages.Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     --------- ----------------------------- 61.4/250.0 kB 1.7 MB/s eta 0:00:01
     --------- ----------------------------- 61.4/250.0 kB 1.7 MB/s eta 0:00:01
     --------- ----------------------------- 61.4/250.0 kB 1.7 MB/s eta 0:00:01
     --------- ----------------------------- 61.4/250.0 kB 1.7 MB/s eta 0:00:01
     --------- ----------------------------- 61.4/250.0 kB 1.7 MB/s eta 0:00:01
     --------- ----------------------------- 61.4/250.0 kB 1.7 MB/s eta 0:00:01
     ------------ ------------------------ 81.9/250.0 kB 218.5 kB/s eta 0:00:01
     ------------ ------------------------ 81.9/250.0 kB 218.5 kB/s eta 0:00:01
     ------------ ------------------------ 81.9/250.0 kB 218.5 kB/s eta 0:00:01
     ------------ ------------------------ 81.9/250.0 kB 218.5 kB/s eta 0:00:01
     ------------ ------------------------ 81.9/250.0 kB 218.5 kB/s eta 0:00:01
     ------------ ------------------------ 81.9/250.0 kB 218.5 kB/s eta 0:00:01
     ---------------- ------------------- 112.6/250.0 kB 182.2 kB/s eta 0:00:01
     ---------------- ------------------- 112.6/250.0 kB 182.2 kB/s eta 0:00:01
     ---------------- ------------------- 112.6/250.0 kB 182.2 kB/s eta 0:00:01
     ----------------- ------------------ 122.9/250.0 kB 164.0 kB/s eta 0:00:01
     -------------------- --------------- 143.4/250.0 kB 181.4 kB/s eta 0:00:01
     ----------------------- ------------ 163.8/250.0 kB 189.2 kB/s eta 0:00:01
     ----------------------- ------------ 163.8/250.0 kB 189.2 kB/s eta 0:00:01
     ------------------------- ---------- 174.1/250.0 kB 187.2 kB/s eta 0:00:01
     ---------------------------- ------- 194.6/250.0 kB 199.9 kB/s eta 0:00:01
     ----------------------------- ------ 204.8/250.0 kB 200.8 kB/s eta 0:00:01
     ----------------------------- ------ 204.8/250.0 kB 200.8 kB/s eta 0:00:01
     ----------------------------- ------ 204.8/250.0 kB 200.8 kB/s eta 0:00:01
     ----------------------------- ------ 204.8/250.0 kB 200.8 kB/s eta 0:00:01
     ----------------------------- ------ 204.8/250.0 kB 200.8 kB/s eta 0:00:01
     ----------------------------- ------ 204.8/250.0 kB 200.8 kB/s eta 0:00:01
     ------------------------------------ 250.0/250.0 kB 189.5 kB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:
# Exporting our Final DataFrame to an Excel File
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')